<!DOCTYPE html>
<html>
<head>
    <title>Credit card Fault Prediction</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="container clearfix">
        <h1>Welcome to Credit Card Fault Detection System</h1>
        <p>This is a simple web app to predict Fault Customers for Credit Card. Explore the power of data analysis!</p>
        <a class="btn" href="/upload">Go to Prediction</a>
        <a class="btn" href="/train">Train Model</a>

    </div>
</body>
</html>