<!DOCTYPE html>
<html>
<head>
    <title>Credit card Fault Prediction</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Credit Card Fault Detection System</h1>
        <p>This is a simple web app to predict Fault Customers for Credit Card. Explore the power of data analysis!</p>
        <a href="/upload_file.html">Go to Prediction</a>
        <a href="/train.html">Train Model</a>
    </div>
</body>
</html>
