<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Loading Page</title>
  <link rel="stylesheet" href="/static/css/train.css">
</head>
<body onload="startTraining()">
  <div class="loading-container">
    <div class="loading-text">Training Model 🛠️</div>
    <div class="loader">⏳</div>
  </div>

  <script>
  function startTraining() {
    fetch('/start_training', {
        method: 'POST',
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            window.location.href = '/upload';
        }
    });
  }
  </script>
</body>
</html>